@{
    ViewData["Title"] = "HuggingFace Roberta Base QA";
    Layout = "~/Views/Shared/_AILayout.cshtml";
}

<div class="col-12 col-lg-12 order-1 mb-4">
    <div class="card">
        <div class="card-header text-center">
            <h5 class="mb-0 fw-bold">🧠 HuggingFace Roberta Base QA</h5>
        </div>
    </div>
</div>

<div class="col-12 col-lg-12 order-2 order-md-3 order-lg-2 mb-4">
    <div class="card">
        <div class="card-body text-center">
            <form asp-action="Index" asp-controller="HuggingFaceRobertaBaseQA" method="post">
                <textarea name="context" class="form-control mb-3" rows="6" placeholder="Analiz edilecek metni buraya yazın..."></textarea>
<textarea name="question" class="form-control mb-3" rows="2" placeholder="Soruyu buraya yazın..."></textarea>

                <button type="submit" class="btn btn-primary">Cevap Al</button>
            </form>

            @if (ViewBag.Result != null)
            {
                <div class="mt-4 text-start">
                    <h6 class="fw-bold text-secondary mb-3">🔎 Cevap:</h6>

                    <div class="alert alert-light border shadow-sm" role="alert">
                        <p class="mb-0">
                            <span class="fw-bold text-primary">Cevap:</span>
                            <span class="badge bg-primary">@ViewBag.Result</span>
                        </p>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
